---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";

export const prerender = true;
export const getStaticPaths = (async () => {
	const recipes = await getCollection("recipes");

	return recipes.map((recipe) => ({
		params: { id: recipe.id },
		props: { ...recipe.data },
	}));
}) satisfies GetStaticPaths;

import BaseLayout from "../../layouts/BaseLayout.astro";
import { Picture } from "astro:assets";
const recipe = await getEntry("recipes", Astro.params.id);
const { title, image, imageAlt, ingredients, steps } = Astro.props;
const stepGroupName = `recipe-step-${Astro.params.id}`;
---

<BaseLayout title={title} description={`Rezept für ${title}`}>
	<main class="flex flex-col gap-2">
		<a href="/">
			<h1 transition:name={`recipe-title-${Astro.params.id}`}>{title}</h1>
		</a>
		<ul class="ingredients">
			<h2>Zutaten</h2>
			{
				ingredients.map((ingredient, index) => (
					<li>
						<input type="checkbox" id={"i" + index} title={ingredient + " hinzugefügt"} />
						<label for={"i" + index}>{ingredient}</label>
					</li>
				))
			}
		</ul>
		<ol class="steps">
			<h2>Zubereitung</h2>
			{steps.map((step, index) => (
					<li>
						<input type="radio" id={`step-${index}`} name={stepGroupName} checked={index === 0} />
						<label for={`step-${index}`}>{step}</label>
					</li>
				))}
		</ol>
		{recipe?.rendered?.html && <section set:html={recipe?.rendered?.html} />}
		{image && <Picture 
								width=500 
								src={image}
								alt={imageAlt ?? ""}
								formats={["webp", "jpg"]}
								transition:name={`recipe-image-${Astro.params.id}`}
							 />}
		
	</main>
</BaseLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 0.4em;

		max-width: 500px;
		margin-inline: auto;
	}

	main > a > h1 {
		text-align: center;
		margin-block: 0.1em;
	}

	main > a:has(h1) {
	position: relative;
	cursor: pointer;
	text-decoration: none;
	color: var(--astro-text-color);

		::before {
			content: "←";
			font-weight: bold;
			position: absolute;
			left: 1em;
			opacity: 0;
			transition: all var(--animation-speed) var(--animation-easing);
		}
		&:hover	{
			::before {
				left: 0;
					opacity: 1;
				}
			}
	}

	.ingredients, .steps, section {
		padding: 0 0.4em;
		margin: 0;

		h2 {
			margin-block: 0;
		}
		
		li {
			--fill-color: var(--color-highlight);
			margin-block: 0.2em ;
			padding: 0.4em;
			border-radius: var(--border-radius);
			background: linear-gradient(to right, var(--fill-color) 50%, var(--color-background) 50%);
			background-size: 200% 100%;
			background-position: right;
			transition: background-position 0.3s var(--animation-easing);
		}
	}

	.ingredients {
		list-style: none;
		
		li {
			display: flex;
			gap: 0.1em;
			label {
				flex-grow: 1;
			}
		}
		li:has(input:checked) {
			background-position: left;
		}
	}

	.steps {
		list-style: none;
		counter-reset: step;

		li {
			--fill-color: var(--color-highlight-soft);
			counter-increment: step;
		}
		input {
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}
		label {
			display: block;
			cursor: pointer;
		}
		label::before {
			content: counter(step) ". ";
			font-weight: 600;
		}
		li:has(~ li input:checked) {
			background-position: left;
		}
		li:has(input:checked) {
			--fill-color: var(--color-highlight);
			background-position: left;
		}
	}

	main>picture {
		display: block;
		
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

</style>
