---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";

export const prerender = true;
export const getStaticPaths = (async () => {
	const recipes = await getCollection("recipes");

	return recipes.map((recipe) => ({
		params: { id: recipe.id },
		props: { ...recipe.data },
	}));
}) satisfies GetStaticPaths;

import BaseLayout from "../../layouts/BaseLayout.astro";
import { Picture } from "astro:assets";
const recipe = await getEntry("recipes", Astro.params.id);
const { title, image, imageAlt, ingredients, steps } = Astro.props;
const stepGroupName = `recipe-step-${Astro.params.id}`;
---

<BaseLayout title={title} description={`Rezept für ${title}`}>
	<nav><a href="/">⬅️ Home</a></nav>
	<main class="flex flex-col gap-2">
		<h1 transition:name={`recipe-title-${Astro.params.id}`}>{title}</h1>
		<h2>Zutaten</h2>
		<ul>
			{
				ingredients.map((ingredient, index) => (
					<li>
						<>
							<input type="checkbox" id={"i" + index} title={ingredient + " hinzugefügt"} />
							<label for={"i" + index}>{ingredient}</label>
						</>
					</li>
				))
			}
		</ul>
		<h2>Zubereitung</h2>
		<ol>
			{steps.map((step, index) => {
				const inputId = `step-${index}`;
				return (
					<li>
						<input type="radio" id={inputId} name={stepGroupName} checked={index === 0} />
						<label for={inputId}>{step}</label>
					</li>
				);
			})}
		</ol>
		{recipe?.rendered?.html && <section set:html={recipe?.rendered?.html} />}
		{image && <Picture width=500 src={image} alt={imageAlt ?? ""} formats={["webp", "jpg"]} loading="lazy" transition:name={`recipe-image-${Astro.params.id}`} />}
	</main>
</BaseLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
	}
	h1 {
		text-align: center;
		margin-block: 0;
	}
	h2 {
		padding-inline-start: 0.3em;
		margin: 0.5em 0 0.1em 0;
	}

	ol, ul {
		margin-block: 0.2em;
	}
	ul {
		list-style: none;
		padding-inline-start: 0;
		li {
			display: flex;
			label {
				flex-grow: 1;
			}
		}
	}
	li {
		margin: 0.3em 0;
		padding: 0.4em;
		border-radius: 0.2em;
		margin: 0.4em;
		transition: background 0.2s ease;
		background-color: whitesmoke;
	}
	ul li:has(input:checked) {
		background-color: lightgreen;
	}
	ol {
		list-style: none;
		padding-inline-start: 0;
		counter-reset: step;
	}
	ol li {
		border-radius: 0.5em;
		counter-increment: step;
	}
	ol input {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}
	ol label {
		display: block;
		cursor: pointer;
}
	ol label::before {
		content: counter(step) ". ";
		font-weight: 600;
	}
	ol li:has(~ li input:checked) {
		background: hsl(93, 76%, 85%);
	}
	ol li:has(input:checked) {
		background: lightgreen;
	}

	picture > * {
		max-width: 100%;
		object-fit: contain;
		padding: 0;
	}
</style>
